<h1>Reactive form</h1>

<form (ngSubmit)="submitForm()"
      [formGroup]="reactiveForm"
      novalidate>
  <div>
    <label for="nameIdReactive">First name</label>
    <input id="nameIdReactive"
           type="text"
           placeholder="Name"
           formControlName="firstName" />
    <label for="customValidationInputId">Custom Validation Input</label>
    <input id="customValidationInputId"
           type="text"
           formControlName="customValidationInput" />
    <div *ngIf="reactiveForm.get('customValidationInput').errors?.customValidationInput">
      Custom validation is invalid
    </div>
    <div *ngIf="reactiveForm.get('firstName').touched && reactiveForm.get('firstName').errors?.required">
      Please enter your first name
    </div>
    <div *ngIf="reactiveForm.get('firstName').errors?.minlength">
      Value must be longer than 3 characters
    </div>
  </div>

  <div>
    <label>radio1</label>
    <input formControlName="radioButton"
           id="radio1"
           type="radio"
           value="radio1">
    <label for="radio2">radio2</label>
    <input formControlName="radioButton"
           id="radio2"
           type="radio"
           value="radio2">
  </div>

  <div>
    <label for="checkbox1"></label>
    <input formControlName="checkbox"
           id="checkbox1"
           type="checkBox"
           value="checkbox1">
  </div>

  <button [disabled]="reactiveForm.invalid"
          type="submit">Submit</button>
  <button type="button"
          (click)="populateForm()">Populate form</button>
  <button type="button"
          (click)="clearValidation()">Clear validators</button>
  <button type="button"
          (click)="setValidation()">Set validators</button>
  <button type="button"
          (click)="logForm()">Log form</button>
  <button type="button"
          (click)="addValueChangesSubscribtion()">Add value changes subscription</button>

</form>
