<div class="header">
  <a routerLink="/template-driven">
    Template driven form
  </a>
  <a routerLink="/simple-reactive-form">
    Simple reactive form
  </a>
  <a routerLink="/reactive-form">
    Reactive form
  </a>
  <a routerLink="/nested-form-groups">
    Nested form groups
  </a>
  <a routerLink="/form-array">
    Form array
  </a>
  <a routerLink="/common-input-types">
    Common input types
  </a>
  <a routerLink="/custom-checkboxes-form">
    Custom checkboxes form
  </a>
</div>
<router-outlet></router-outlet>
