body {
    font-family: Arial;
}

a {
    margin: 16px;
    display: inline-block;
}

h1 {
    margin-bottom: 64px;
}

button {
    display: block;
    width: 200px;
    height: 50px;
    margin-bottom: 16px;
}

label {
    display: block;
    margin-bottom: 16px;

    &.checkbox, 
    &.radio {
        display: inline-block;
        input {
            display: inline-block;
        } 
    }

    &.radio {
        margin-right: 16px;
    }
}

input {
    display: block;
    margin: 16px 0px;
}

.error {
    color: #e32f2f;
    margin-bottom: 16px;
}

.page-wrapper {
    margin: auto;
    width: fit-content;
}
